<table class="card_list">
	<thead>
		<tr>
			<th class="name">Name</th>
			<th class="cost">Cost</th>
			<th class="type">Type</th>
		</tr>
	</thead>
	<tbody>
		<tr data-card="c1">
			<td>Cool Guy</td>
			<td>3WW</td>
			<td>Legendary Creature -- Human Warrior</td>
		</tr>
		<tr data-card="c2">
			<td>Cool Guy</td>
			<td>3WW</td>
			<td>Legendary Creature -- Human Warrior</td>
		</tr>
		<tr data-card="c3">
			<td>Cool Guy</td>
			<td>3WW</td>
			<td>Legendary Creature -- Human Warrior</td>
		</tr>
	</tbody>
</table>
