<div class="select_menu">
	<% for (const color of ["white", "blue", "black", "red", "green"]) { %>
		<button data-value="<%= color %>">
			<img class="icon" src="/assets/card/<%= color %>.jpg">
			<%= color %>
		</button>
	<% } %>
</div>
