<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/src/style/main.scss">
		<title>Cardset</title>
	</head>
	<body class="bp5-dark">
		<div id="app"></div>
		<script type="module" src="/src/script/main.ts"></script>
	</body>
</html>
