@import "/node_modules/@blueprintjs/core/lib/scss/variables";

div.card-editor {
	--in: 150px;
	--pt: calc(var(--in) / 72);

	--title-color: #000;
	--text-color: #000;
	--flavor-bar-color: rgba(23 23 23 / 0.26);
	--flavor-bar-gradient: linear-gradient(90deg, transparent 0%, var(--flavor-bar-color) 10% 90%, transparent 100%);
	--normal-style: normal;
	--italic-style: italic;
	color: var(--text-color);

	width: calc(2.5 * var(--in));
	height: calc(3.5 * var(--in));
	margin: 0.5rem;
	position: relative;

	img.frame {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: calc(0.1 * var(--in));
	}

	.title-bar {
		position: absolute;
		display: grid;
		box-sizing: border-box;
		left:  calc(0.15 * var(--in));
		right: calc(0.15 * var(--in));
		color: var(--title-color);
		>:first-child {
			border-top-left-radius: calc(0.042 * var(--in)) 50%;
			border-bottom-left-radius: calc(0.042 * var(--in)) 50%;
		}
		>:last-child {
			border-top-right-radius: calc(0.042 * var(--in)) 50%;
			border-bottom-right-radius: calc(0.042 * var(--in)) 50%;
		}
	}

	div.name-line {
		position: absolute;
		top:    calc(0.175 * var(--in));
		height: calc(0.2   * var(--in));
		grid-template-columns: 1fr auto;
		>.field[data-field-name="name"] {
			box-sizing: border-box;
			margin: 0;
			padding: 0 0 calc(0.0125 * var(--in)) calc(0.0625 * var(--in));
			display: grid;
			align-items: center;
			font: bold calc(0.15 * var(--in)) "Beleren";
			-webkit-text-stroke: var(--title-color) calc(var(--in) / 750);
			overflow: hidden;
		}
		>.field[data-field-name="cost"] {
			min-width: calc(0.2 * var(--in));
			padding: calc(0.025 * var(--in)) calc(0.0625 * var(--in)) 0 calc(0.0125 * var(--in));
			text-align: right;
			font: calc(0.125 * var(--in)) "MPlantin";
		}
	}

	.image {
		position: absolute;
		left:   calc(0.2  * var(--in));
		top:    calc(0.4  * var(--in));
		width:  calc(2.1  * var(--in));
		height: calc(1.54 * var(--in));
	}

	div.type-line {
		top:    calc(1.97 * var(--in));
		height: calc(0.19 * var(--in));
		box-sizing: border-box;
		grid-template-columns: 1fr auto;
		>.field[data-field-name="type"] {
			box-sizing: border-box;
			margin: 0;
			padding: 0 0 0 calc(0.0625 * var(--in));
			display: grid;
			align-items: center;
			font: bold calc(0.115 * var(--in)) "Beleren";
			-webkit-text-stroke: var(--title-color) 0.2px;
			overflow: hidden;
		}
		>.set-symbol {
			min-width: calc(0.25 * var(--in));
		}
	}

	div[contenteditable="true"] {
		&:hover {
			outline: $pt-outline-color solid 2px;
			outline-offset: -1px;
			-moz-outline-radius: 6px;
		}
		&:focus {
			outline: $pt-outline-color solid 2px;
			outline-offset: -1px;
			-moz-outline-radius: 6px;
		}
	}

	div.field[data-field-name="cardText"] {
		position: absolute;
		left:   calc(0.2  * var(--in));
		top:    calc(2.175  * var(--in));
		right:  calc(0.2  * var(--in));
		height: calc(1.0625 * var(--in));
		margin: 0;
		padding-bottom: calc(0.025 * var(--in));
		box-sizing: border-box;
		align-content: center;
		font: calc(0.125 * var(--in)) "MPlantin";
		color: var(--text-color);
		line-height: 1.05;
		display: grid;
		grid-auto-rows: auto;
		overflow: hidden auto;
		overflow-wrap: break-word;

		.section {
			z-index: 10;
			padding: 0.4em calc(0.04 * var(--in)) 0.4em calc(0.04 * var(--in));
			&:last-of-type {
				margin-bottom: calc(-0.025 * var(--in));
			}
			&:hover {
				background-color: transparent;
			}
			// .atom {
			// 	background-color: var(--faded-grey);
			// }
			&[data-name="flavorText"] {
				--normal-style: italic;
				--italic-style: normal;
			}
		}
		.hr {
			margin: 0 calc(0.08 * var(--in)) calc(-0.00675 * var(--in));
			height: calc(0.00675 * var(--in));
			background-image: var(--flavor-bar-gradient);
			border: none;
			&.selected {
				outline: 2px solid $pt-outline-color;
				// outline-offset: -1px;
			}
		}
	}
	img.pt-box {
		position: absolute;
		right:  calc(0.14 * var(--in));
		bottom: calc(0.1  * var(--in));
		width:  calc(0.54 * var(--in));
		height: calc(0.28 * var(--in));
	}
	div.field[data-field-name="pt"] {
		position: absolute;
		right:  calc(0.1675 * var(--in));
		bottom: calc(0.18   * var(--in));
		width:  calc(0.4475 * var(--in));
		height: calc(0.18   * var(--in));
		border-radius: calc(2.4 * var(--pt)) / 50%;
		box-sizing: border-box;
		padding-top: calc(-0.00675 * var(--in));
		font: bold calc(0.25 * var(--pt)) "Beleren";
		text-align: center;
	}
	img.tester {
		position: absolute;
		inset: 0;
		opacity: 0.2;
		pointer-events: none;
	}
}
