@import "/node_modules/normalize.css/normalize.css";
@import "/node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "/node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "card_editor.scss";
@import "card_list.scss";
@import "mana.scss";

body.bp5-dark {
	background-color: #2f343c;
}

.bp5-input-group .bp5-button-group {
	margin: 3px;
}
.bp5-input-group .bp5-button-group .bp5-button {
	margin: 0;
}
.bp5-dark .bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:not(:hover):not(:focus).bp5-disabled {
	color: $pt-dark-text-color-disabled;
}

p:last-child {
	margin-bottom: 0;
}

#content {
	display: grid;
	gap: 0.5rem;
	padding: 0.5rem;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr;
	align-items: start;
}
