html {
	--generic-mana-background-color:   #cbc6c1;
	--colorless-mana-background-color: #ccc2c0;
	--white-mana-background-color:     #fffbd5;
	--blue-mana-background-color:      #aae0fa;
	--black-mana-background-color:     #cbc2bf;
	--red-mana-background-color:       #f9aa8f;
	--green-mana-background-color:     #9bd3ae;
}

span.mana-pip {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	width: 0.92em;
	height: 0.92em;
	text-align: center;
	margin: 0.08em;
	box-sizing: border-box;
	border-radius: 50% 50%;
	box-shadow: -0.016em 0.08em black;
	line-height: 1;
	vertical-align: text-top;
	font-weight: bold;
	letter-spacing: 0;
	color: black;
	font-family: "MPlantin";

	>span {
		grid-area: 1 / 1 / 2 / 2;

		&[data-slate-node="text"] {
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			align-content: center;
			margin-top: -0.08em;
			margin-bottom: -0.08em;
			height: 1.16em;
			overflow: hidden;
		}
	}

	.icon {
		width: 100%;
		height: 100%;
	}
}

.icon {
	display: grid;
	grid-template: 1fr / 1fr;
	img {
		grid-area: 1 / 1 / 2 / 2;
		width: 100%;
	}
	span {
		grid-area: 1 / 1 / 2 / 2;
	}
}
